.profile-page .user-info {
    padding-top: 10;
    background-color: #f3f3f3;
}

.profile-page .user-info .user-img {
    width: 100;
    height: 100;
    border-radius: 50%;
    margin-bottom: 1;
}

.profile-page .user-info .user-name {
    font-size: 22;
    font-weight: bold;
}